body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.Container {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
}

.banner1 {
  /* background-color: rgb(0, 0, 0); */
  justify-items: center;
  align-items: center;
  place-items: center;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
.informacoes {
  margin-left: 160px;
  width: 900px;
  margin-top: 80px;
  text-align: justify;
}

.informacoes1 {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: xx-large;
}

.descricao {
  font-family: "Orbitron", sans-serif;
  font-size: 22px;

}

.container2 {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
}

.imagemInfo {
  margin-top: 150px;
  border-radius: 30px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.programacao {
  margin-left: 160px;
  /* width: 900px; */
  text-align: justify;

}

.programacao1 {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: xx-large;
}

.descricao2 {
  font-family: "Orbitron", sans-serif;
  font-size: 22px;

}

.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  background-color: rgba(90, 8, 196, 0.205);
  column-gap: 100px;

}

.imagemProgramacao {

  border-radius: 30px;
}

span {
  color: rgb(111, 0, 255);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.Galeria {
  margin-left: 150px;
  margin-top: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xxx-large;
}

.borda {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 20px;
  margin: 50px;
  height: 800px;
  margin-top: -10px;
}

.container4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  height: 100%;
  width: 90%;
  gap: 30px;
  align-items: center;
  justify-items: center;
  margin-top: 4px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */
.localizacao {
  margin-left: 160px;
  width: 900px;
  margin-top: 60px;
  text-align: justify;
}

.localizacao1 {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: xx-large;
}

.descricaoLoc {
  font-family: "Orbitron", sans-serif;
  font-size: 22px;
}

.container5 {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
}

.imagemInfo {
  margin-top: 100px;
  border-radius: 30px;
  margin-bottom: 50px;

}

/* //////////////////////////////////////////////////////////////////////// */
.footer{
    background-color:#0b0615;
    color:white;
    padding:40px 10%  ;
    margin-top: 30px;
}

.footerContainer{
  display: grid;
  grid-template-columns: 400px 400px 400px 400px ;
}

.footerVelk{
    width:300px;
}

.confirmar{
    color:#a855f7;
}

.contato{
    color:#a855f7;
    margin-bottom:10px;
}

.info{
    font-size:14px;
}

.confirmar a{
    color:#c084fc;
}

.footer a:hover{
    text-decoration:underline;
}

.footerFinal{
    text-align:center;
    margin-top:30px;
    border-top:1px solid #2e1a47;
    padding-top:15px;
    font-size:15px;
}